*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Baloo Bhai 2', cursive;
  outline: none;
  color: #fff;
}

::placeholder{
  color: #fff;
}

html{
  height: 100%;
}
body{
  height: 100%;
  background: #000;
  overscroll-behavior-y: contain;
}

.nav-bar{
  width: 100%;
  height: 80px;
  background: #161c24;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 1010;
}

.nav-bar h1 a{
  color: #fff;
  position: relative;
  bottom: 15px;
}

.nav-bar img{
  width: 55px;
  height: 55px;
  position: relative;
  top: 20px;
}

.nav-menu-open{
  background: transparent;
  border: none;
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: relative;
  bottom: 10px;
}

.nav-menu-open i{
  font-size: 3.5rem;
  font-weight: 900;
  color: #fff;
}

.NavMenu{
  background: #161c24;
  width: 0;
  height: 100vh;
  position: fixed;
  transition: 150ms ease-in;
  overflow: hidden;
  z-index: 1020;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  margin: 5px auto;
  height: 0;
  overflow: hidden;
  transition: 100ms ease-in-out;
  padding: 0 5px;
}

.search-box{
  display: block;
  padding: 5px;
  width: 90%;
  height: 45px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background: #26303c;
  padding: 0 10px;
  font-size: 1.1rem;
  border: 0.3px solid #333; 
}

.search-box:hover{
  outline: 5px solid #00C6FFB3;
  transition: 150ms;
}

.searchBtn{
  width: 80px;
  background: #222;
  height: 45px;
  font-size: 1.2rem;
  border: 0.3px solid #333;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  transition: 150ms;
  font-weight: bold;
}

.searchBtn:hover{
  color: #1EF900;
  background: #111;
  transition: 150ms ease-in-out;
  outline: 4px solid #1EF90075;
  z-index: -1;
}

.body{
  padding: 80px 0 0 0;
  width: 100%;
  height: calc(100% - 1px);
  overflow-y: auto;
  position: fixed;
}

.NavMenu button{
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 1.2rem;
  color: #C9C9C9;
  background: #111;
  border: 0.1px solid #333;
  border-left: none;
  border-right: none;
  font-weight: bolder;
}

.NavMenu button:hover{
  transition: 150ms;
  color: #1EF900;
}

.content h3{
  font-weight: bolder;
  padding: 5px 20px;
}

.topAiring{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  height: calc(100% - 180px) ;
  overflow-y: auto;
}

.card{
  width: 120px;
  height: 175px;
  margin: 8px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

@keyframes animate{
  0%{
    box-shadow: 0 0 5px 0.1px #FF3600ED, inset 0 0 5px 0.1px #FF3600ED;
  } 33% {
    box-shadow: 0 0 5px 0.1px #4DFA00C4, inset 0 0 5px 0.1px #4DFA00C4;
  } 66% {
    box-shadow: 0 0 5px 0.1px #00B5FAD4, inset 0 0 5px 0.1px #00B5FAD4;
  } 100% {
    box-shadow: 0 0 5px 0.1px #FF3600ED, inset 0 0 5px 0.1px #FF3600ED;
  }
}

.card .bg{
  position: absolute;
  width: 120px;
  height: 175px;
  filter: blur(7px);
  background: rgba(0, 0, 0, 1);
  z-index: -2;
  border-radius: 7px;
  
}

.card .dark{
  position: absolute;
  width: 120px;
  height: 175px;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  border-radius: 7px;
}

.card img{
  width: 119px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 0 auto;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card h4{
  width: 95px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card span{
  z-index: 5;
  position: absolute;
  font-weight: bolder;
  width: 120px;
  height: 175px;
}

.card span strong{
  background-color: #111111ef;
  padding: 0 0 0 8px;
  border-top-left-radius: 8px;
  clip-path: polygon(90% 0, 0 0, 0 90%);
display: block;
width: 6ch;
height: 5ch;
font-size: 0.9rem;
}

.showSearch{
  background: none;
  border: none;
}

.showSearch i{
  font-size: 2.5rem;
}



.active {
  color: #00FF28 !important;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns button{
  font-size: 1.1rem;
  padding: 5px 10px;
  font-weight: bold;
  background: #333;
  border-radius: 8px;
  border: 0.5px solid #9D9D9D;
  margin: 10px;
  cursor: pointer;
  display: none;
}

.btns button:active{
  color: #00D40D;
  background: #111;
  transition: 50ms ease-in-out;
  border-color: #606060;
}