*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Baloo Bhai 2', cursive;
  outline: none;
  color: #fff;
}

::placeholder{
  color: #fff;
}

html{
  height: 100%;
}
body{
  height: 100%;
  background: #000;
  overscroll-behavior-y: contain;
}

.nav-bar{
  width: 100%;
  height: 80px;
  background: #161c24;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 1010;
}

.nav-bar h1 a{
  color: #fff;
  position: relative;
  bottom: 15px;
}

.nav-bar img{
  width: 55px;
  height: 55px;
  position: relative;
  top: 20px;
}

.nav-menu-open{
  background: transparent;
  border: none;
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: relative;
  bottom: 10px;
}

.nav-menu-open i{
  font-size: 3.5rem;
  font-weight: 900;
  color: #fff;
}

.NavMenu{
  background: #161c24;
  width: 0;
  height: 100vh;
  position: fixed;
  transition: 150ms ease-in;
  overflow: hidden;
  z-index: 1020;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  margin: 5px auto;
  height: 0;
  overflow: hidden;
  transition: 100ms ease-in-out;
  padding: 0 5px;
  z-index: 900;
}

.search-box{
  display: block;
  padding: 5px;
  width: 90%;
  height: 45px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background: #26303c;
  padding: 0 10px;
  font-size: 1.1rem;
  border: 0.3px solid #333; 
}

.search-box:hover{
  outline: 5px solid #00C6FFB3;
  transition: 150ms;
}

.searchBtn{
  width: 80px;
  background: #222;
  height: 45px;
  font-size: 1.2rem;
  border: 0.3px solid #333;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  transition: 150ms;
  font-weight: bold;
}

.searchBtn:hover{
  color: #1EF900;
  background: #111;
  transition: 150ms ease-in-out;
  outline: 4px solid #1EF90075;
  z-index: -1;
}

.body{
  padding: 80px 0 0 0;
  width: 100%;
  height: calc(100% - 1px);
  overflow-y: auto;
  position: fixed;
}

.NavMenu button{
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 1.2rem;
  color: #C9C9C9;
  background: #111;
  border: 0.1px solid #333;
  border-left: none;
  border-right: none;
  font-weight: bolder;
}

.NavMenu button:hover{
  transition: 150ms;
  color: #1EF900;
}

.content h3{
  font-weight: bolder;
  padding: 5px 20px;
}

.topAiring{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  height: calc(100% - 180px) ;
  overflow-y: auto;
}

.card{
  width: 120px;
  height: 175px;
  margin: 8px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

@keyframes animate{
  0%{
    box-shadow: 0 0 5px 0.1px #FF3600ED, inset 0 0 5px 0.1px #FF3600ED;
  } 33% {
    box-shadow: 0 0 5px 0.1px #4DFA00C4, inset 0 0 5px 0.1px #4DFA00C4;
  } 66% {
    box-shadow: 0 0 5px 0.1px #00B5FAD4, inset 0 0 5px 0.1px #00B5FAD4;
  } 100% {
    box-shadow: 0 0 5px 0.1px #FF3600ED, inset 0 0 5px 0.1px #FF3600ED;
  }
}

.card .bg{
  position: absolute;
  width: 120px;
  height: 175px;
  filter: blur(7px);
  background: rgba(0, 0, 0, 1);
  z-index: -2;
  border-radius: 7px;
  
}

.card .dark{
  position: absolute;
  width: 120px;
  height: 175px;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  border-radius: 7px;
}

.card img{
  width: 119px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 0 auto;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card h4{
  width: 95px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card span{
  z-index: 5;
  position: absolute;
  font-weight: bolder;
  width: 120px;
  height: 175px;
}

.card span strong{
  background-color: #111111ef;
  padding: 0 0 0 8px;
  border-top-left-radius: 8px;
  clip-path: polygon(90% 0, 0 0, 0 90%);
display: block;
width: 6ch;
height: 5ch;
font-size: 0.9rem;
}

.showSearch{
  background: none;
  border: none;
}

.showSearch i{
  font-size: 2.5rem;
}

.active {
  color: #00FF28 !important;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns button{
  font-size: 1.1rem;
  padding: 5px 10px;
  font-weight: bold;
  background: #333;
  border-radius: 8px;
  border: 0.5px solid #9D9D9D;
  margin: 10px;
  cursor: pointer;
  display: none;
}

.btns button:active{
  color: #00D40D;
  background: #111;
  transition: 50ms ease-in-out;
  border-color: #606060;
}

.loader .x{
  width: 60px;
  height:  60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  border-radius: 50%;
  box-shadow: 0 0 1px .5px #0052FF,
        inset 0 0 1px 1px #0052FF;
  margin-top: 10px;
  animation: logoBorder 3s linear infinite;
}

.loader{
  position: fixed;
  top: 0;
  width: 60px;
  height: 66px;
  /* background: #034292B5; */
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  width: 66%;
  height: 66%;
  background: #111;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.icon .blocks{
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 9px;
  margin: 0.5px;
  border-radius: 1px;
}

.icon .blocks:nth-child(even){
  background: #FF1B00;
  box-shadow: inset 0px 1px 1.5px #FF604E,
              inset 0px -.8px 1.5px #610A00;
  animation: logoAnimationBlue 3s linear infinite;
}

.icon .blocks:nth-child(odd) {
  background: #0061FF;
  box-shadow: inset 0px 1px 1.5px #58A2FF,
              inset 0px -0.5px 0.8px #003A77;
  animation: logoAnimationRed 3s linear infinite;
}

@keyframes logoBorder{
  0%{
    box-shadow: 0 0 1px .5px #0052FF,
    inset 0 0 1px 1px #0052FF;
  } 48% {
    box-shadow: 0 0 1px .5px #0052FF,
    inset 0 0 1px 1px #0052FF;
  } 52% {
    box-shadow: 0 0 1px .5px #FF1B00,
      inset 0 0 1px 1px #FF1B00;
  } 95% {
    box-shadow: 0 0 1px .5px #FF1B00,
      inset 0 0 1px 1px #FF1B00;
  }
}

@keyframes logoAnimationRed{
  0%{
    background: #FF1B00;
    box-shadow: inset 0px 1px 1.5px #FF604E,
    inset 0px -.8px 1.5px #610A00;
  } 48% {
     background: #FF1B00;
     box-shadow: inset 0px 1px 1.5px #FF604E,
       inset 0px -.8px 1.5px #610A00;
   } 52% {
    background: #0061FF;
    box-shadow: inset 0px 1px 1.5px #58A2FF,
    inset 0px -0.5px 0.8px #003A77;
  } 95% {
    background: #0061FF;
    box-shadow: inset 0px 1px 1.5px #58A2FF,
    inset 0px -0.5px 0.8px #003A77;
  }
}

@keyframes logoAnimationBlue{
  0%{
    background: #0061FF;
    box-shadow: inset 0px 1px 1.5px #58A2FF,
    inset 0px -0.5px 0.8px #003A77;
  } 48% {
    background: #0061FF;
    box-shadow: inset 0px 1px 1.5px #58A2FF,
    inset 0px -.8px 1.5px #003A77;
  } 52%{
    background: #FF1B00;
    box-shadow: inset 0px 1px 1.5px #FF604E,
    inset 0px -0.5px 0.8px #610A00;
  } 95% {
    background: #FF1B00;
    box-shadow: inset 0px 1px 1.5px #FF604E,
      inset 0px -0.5px 0.8px #610A00;
}
}

.animeDetails{
  height: 0;
  width: 0;
  z-index: 500;
  background: #000;
  position: fixed;
  top: 80px;
  transition: 250ms;
  overflow: hidden;
}

.animeDetailsBg{
  background-size: cover !important;
  background-repeat: no-repeat !important;
 position: absolute;
 width: 110%;
 height: 110%;
 filter: blur(30px);
}

.animeDetailsInfo{
  z-index: 800;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.animeDetailsInfo img{
  width: 180px;
  height: 250px;
  border-radius: 6px;
  border: 0.3px solid #888;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.loading{
  position: fixed;
  top: 80px;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 700;
  background: rgba(0, 0, 0, 0.65);
}

.animeDetailsInfo .titles{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 25px;
  margin-top: 10px;
}

.animeDetailsInfo .titles h1{
  font-size: 1.5rem;
  text-align: center;
}

.animeDetailsInfo .titles h2{
  color: #BABABA;
  font-size: 1.2rem;
  text-align: center;
}

.animeDetailsInfo .info{
  padding: 10px 20px;
  margin: 5px;
  background: #0000002B;
}

.animeDetailsInfo .info p{
  color: #ADADAD;
}

.animeDetailsInfo .info strong{
  color: #FFFFFF;
}

.animeDetailsInfo .pages{
  display: flex;
  width: 100%;
  border-bottom: 3px solid #B7B7B74D;
  background: #0000004D;
  position: fixed;
  top: 80px;
  z-index: 1000;
}

.animeDetailsInfo .pages button{
  background: #00000061;
  border: none;
  color:#fff;
  font-weight: bold;
  font-size: 1rem;
  border: 3px solid #B7B7B74D;
  border-top: none;
  border-bottom: none;
  border-left: none;
  padding: 5px 15px;
}

.animeDetailsInfo .pages button:hover{
  background: #00000061;
  color: #69CF02;
  transition: 150ms;
}

.animeDetailsInfo .button button{
  padding: 8px 35px;
  font-size: 1.2rem;
  font-weight: bolder;
  background: #222;
  border: 0.5px solid #000000;
  border-radius: 50px;
  margin: 20px 0;
}

.animeDetailsInfo .button button:hover{
  background: #5CC228;
  transition: 150ms;
}

.externalLinks a{
  color: #0067FD;
}

.externalLinks{
  display: flex;
  flex-wrap: wrap;
}

.animeInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.songs{
  width: 90%;
  height: 100%;
  overflow-y: auto; 
  display: flex;
  align-items: center!important;
  justify-content: center!important;
  flex-direction: row;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;/*Firefox*/
}

.songs::-webkit-scrollbar {
  display: none;
}

.songs iframe{
  width: 100%;
  height: 100px;
  
}

.animeDetailsInfo .button{
  display: box;
  width:100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.charInfo{
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.charInfoCard{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 15px auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: .5px solid #000;
}

.voiceActors,
.voiceActor,
.CharInfo{
  display: flex;
  flex-direction: column;
}

.voiceActor small,
.voiceActor strong,
.voiceActor img{
  margin-left: auto;
}

.voiceActor img,
.CharInfo img{
  width: 75px;
  height: 110px;
}

.episodes{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.epis{
  background-color: #0000002B;
}

.subEpis,
.dubEpis{
  background-color: #00000033;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(55px, 55px));grid-template-columns: repeat(auto-fit, minmax(55px, 55px));
  padding: 5px;
  overflow: auto;
  justify-content: center;
}

.dubEpis{
  display: none;
}

.loadEPBtn{
  font-size: 1rem;
  color: #afafaf;
  background-color: #111;
  padding: 4px 4px;
  margin: 4px;
  border: 1px solid #000;
  border-radius: 6px;
  /* font-weight: bolder; */
}

.loadEPBtn:hover{
  transition: 140ms;
  color: #fff;
  background-color: #00b10c;
  font-weight: bold;
}

.video{
  width: 100%;
  height: 400px;
}

.toogleSubDub select{
  color: #fefefe;
  width: 150px;
  background-color: #000;
  border: 1px solid #333;
  padding: 5px 15px;
  font-size: 1.1rem;
  margin: 0 10px;
}

/* .toogleSubDub option{
   color: #000; 
} */

.video{
  width: 100%;
  background-color: #00000067;
}

@media (min-width: 900px){
  .video{
    width: 1000px;
    margin: auto;
  }
}

.toogleSubDub{
    display: flex;
    justify-content: space-between;
    padding: 10px; 
}

.CurrentEp span{
    color: lightgreen;
    font-size: 1.2rem;
}
