<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#161c24">
  <meta name="msapplication-navbutton-color" content="#161c24">
  <meta name="apple-mobile-web-app-status-bar-style" content="#161c24">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <!-- Shaka Player ui compiled library: -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/4.3.7/shaka-player.ui.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/4.3.7/controls.min.css"/>
  <!---  stylesheets  -->
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}?v=10">
  <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
  <title>AnimeTV | Best website for watch anime online</title>
</head>
<body>
  <header>
    <nav class="navigation">
      <div class="nav-bar">
          <button class="nav-menu-open"><i class="bi bi-list"></i></button>
        <h1 style="width: 200px;justify-content: space-between; display: flex;align-items: center; flex-direction: row;"><a href="https://v2.animetv.ml"><div class="loader">
      <div class="x"><div class="icon">
        <div class="blocks"></div>
        <div class="blocks"></div>
        <div class="blocks"></div>
        <div class="blocks"></div>
        <div style="background: none; box-shadow:none;animation: none;color: lawngreen" class="blocks">AP</div>
        <div class="blocks"></div>
        <div class="blocks"></div>
        <div class="blocks"></div>
        <div class="blocks"></div>
      </div></div>
    </div></a><div class="url">AnimeTV.ml</div></h1>
        <button class="showSearch">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </nav>
    <main class="body">
      <div class="NavMenu">
        <a href="/"><button class="navBtn1 active"><i class="bi bi-house-door-fill"></i> &nbsp;Home</button></a>
        <button disabled class="topAnime"><i class="bi bi-save2-fill"></i> Watch List (Coming Soon)</button>
        <a target="_blank" href="https://codewithap.vercel.app/donate"><button class="support"><i class="bi bi-cash-coin"></i> Support/Donate</button></a>
      </div>
      <div class="animeDetails">
        
      </div>
      <div class="loading">
        <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
      <section class="content">
        <div class="search">
          <input type="text" class="search-box" placeholder="Search Anime"><button class="searchBtn">Search</button>
        </div>
        <h3>Most Popular</h3>
        <div class="topAiring"></div>
        <div class="btns">
          <button onclick="prevTopAnimes()" class="prev">Prev 50</button>
          <button onclick="nextTopAnimes()" class="next">Next 50</button>
        </div>
        <br><br>
      </section>
      <footer class="footer">
      
      
      </footer> 
    </main>
  </header>
  <!--  scripts  -->
  
  <script src="{{url_for('static', filename='js/htmlGenerater.js')}}?v=10"></script>
  <script src="{{url_for('static', filename='js/main.js')}}?v=20"></script>
  <script src="{{url_for('static', filename='js/epis.js')}}?v=21"></script>
  <script>
    let malID = "{{mal_id}}";
    console.log(malID.length)
    if(malID.length != 0){animeInfo(malID)}
  </script>
</body>
</html>
