<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#161c24">
  <meta name="msapplication-navbutton-color" content="#161c24">
  <meta name="apple-mobile-web-app-status-bar-style" content="#161c24">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!---  stylesheets  -->
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="static/css/main.css">
  <title>AnimeTV | Best website for watch anime online</title>
</head>
<body>
  <header>
    <nav class="navigation">
      <div class="nav-bar">
          <button class="nav-menu-open"><i class="bi bi-list"></i></button>
        <h1 style="width: 200px;justify-content: space-between; display: flex;align-items: center; flex-direction: row margin-top: 10px;"><a style="" href="https://v2.animetv.ml"><div class="loader">
      <div class="x"><div class="icon">
        <div class="blocks"></div>
        <div class="blocks"></div>
        <div class="blocks"></div>
        <div class="blocks"></div>
        <div style="background: none; box-shadow:none;animation: none;color: lawngreen" class="blocks">AP</div>
        <div class="blocks"></div>
        <div class="blocks"></div>
        <div class="blocks"></div>
        <div class="blocks"></div>
      </div></div>
    </div></a><div class="url">AnimeTV.ml</div></h1>
        <button class="showSearch">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </nav>
    <main class="body">
      <div class="NavMenu">
        <button class="navBtn1 active">Home</button>
        <button class="topAnime">Top Animes</button>
        <button class="support">Support/Donate</button>
      </div>
      <div class="animeDetails">
        
      </div>
      <section class="content">
        <div class="search">
          <input type="text" class="search-box" placeholder="Search Anime"><button class="searchBtn">Search</button>
        </div>
        <h3>Most Popular</h3>
        <div class="topAiring"></div>
        <div class="btns">
          <button onclick="prevTopAnimes()" class="prev">Prev 50</button>
          <button onclick="nextTopAnimes()" class="next">Next 50</button>
        </div>
        <br><br>
      </section>
      <footer class="footer">
      
      
      </footer>
    </main>
  </header>
  <!--  scripts  -->
  <script src="static/js/htmlGenerater.js"></script>
  <script src="static/js/main.js"></script>
</body>
</html>
